<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coin Project 작성중</title>
</head>
<body>
    <h3>코인 리스트</h3><br>
    <form action="/ppost" method="post">
        <p>
            <section>
                
            </section>
        </p>
        <p>
            <input type="date" id="startDate" value=weekAgo min="2010-01-01" name="startDate">
            <input type="date" id="endDate" value=today min="2010-01-01" name="endDate">
            <button type="submit">검색</button>
        </p>
    </form>
</body>
</html>